
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }
    body{
        background: hsl(0, 0%, 95%);
    }
    main{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
      
    }
    section{
      
      
      display: flex;
      margin: 0  auto;
    }
    article{
      height: 400px;
      width: 280px;
      padding: 40px;
      
    }
    .sedans{
       background: hsl(31, 77%, 52%);
       border-radius: 10px 0 0 10px  ;
    }
    .suvs{
      background: hsl(184, 100%, 22%);
    }
    .luxury{
      background: hsl(179, 100%, 13%);
      border-radius: 0  10px 10px 0 ;
    }
    .sedans>a {
      color: hsl(31, 77%, 52%);
    }
    .suvs>a {
      color: hsl(184, 100%, 22%);
    }
    .luxuy>a {
      color: hsl(179, 100%, 13%);
    }
    a{
      display: inline-block;
      height: 40px;
      width: 120px;
      border-radius: 50px;
      background-color: hsl(0, 0%, 95%);
      text-align: center;
      line-height: 40px;
      
    }
    h2 {
      padding-top: 20px;
      color: hsl(0, 0%, 95%);
      font-family: "Big Shoulders";
      
    }
    p {
      padding-top: 20px;
      color: hsla(0, 0%, 100%, 0.75);
      font-family: "Lexend Deca";
      font-size: 14px;
      line-height: 20px;
    }

    article>a {
      margin-top: 60px;
    }
    img{
      height: 30px;
    }
    article>a:hover{
      background: transparent;
      color: white;
      border: 1px solid white;
      cursor: pointer;
    }

    @media (max-width: 800px) {
      section{
        margin-top: 10%;
        flex-direction: column;
      }
      .sedans{
      
       border-radius: 10px 10px  0 0 ;
    }
    .luxury{
      
      border-radius: 0 0 10px 10px ;
    }
    }

    footer { 
        font-size: 11px; 
        text-align: center;
        
     }
    footer a { color: hsl(228, 45%, 44%); }